body {
    background-image: url('img/background.jpeg');
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 300px;
    color: yellow;
    animation: crawl 30s linear infinite;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: yellow;
    animation: crawl 30s linear infinite;
}

#nomeJogo {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    perspective: 100px;
    text-align: justify;
}

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

